@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.drawer {
  height: 100%;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

main.full-height {
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main.padded {
  padding: 1rem;
  /* p-4 */
}
